:root {
  --light-green: #52BF90;
  --dark-green: #49AB81;
  --dark-background: #1E1E1E;
  --opaque-green: rgba(82, 191, 144, .3);
  --opaque-black: rgba(0,0,0,0.85);
  --opaque-white: rgba(255,255,255,0.85);
}
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  border-radius: 7px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 90%;
  width: 85%;
  margin: 0 auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
