.home {
  background: url("/assets/hero_background.png");
  repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 740px;
  max-height: 100vh;
}

.home_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11rem;
  flex-wrap: wrap;
}

.home_header {
  display: flex;
  flex-direction: column;
  width: 535px;
}

.home_header h1 {
  color: var(--light-green);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.3px;
  word-spacing: 3px;
  line-height: 1.2;
  margin-bottom: 0;
}

.home_header h2 {
  color: var(--opaque-white);
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 1.34;
  margin-top: 18px;
  margin-bottom: 28px;
}

.home_buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_buttons_container > button {
  font-size: 20px;
  width: 47%;
  font-weight: 500;
  padding: 15px 0;
  border: 2px solid var(--dark-green);
}

.home_buttons_container > button:first-child {
  background-color: var(--dark-green);
  color: white;
}
.home_buttons_container > button:first-child:hover {
  background-color: var(--light-green);
}

.home_buttons_container > button:last-child {
  background-color: transparent;
  color: var(--dark-green);
}

.home_buttons_container > button:last-child:hover {
  background-color: white;
  border-color: white;
  color: var(--light-green);
}

.home_achievements {
  display: flex;
  flex-direction: row;
  word-spacing: 1px;
  font-size: 18.5px;
  margin-top: 10px;
}
.home_achievements p:first-child {
  margin-right: auto;
}
.home_achievements p:last-child {
  margin-left: auto;
}

.home_achievements span {
  color: var(--light-green);
}

@media (max-width: 500px) {
  .home_image {
    display: none;
  }
  .home_container {
    padding-top: 7rem;
  }
  .home_header h1 {
    font-size: 55px;
    word-spacing: 0;
    letter-spacing: 0;
  }
  .home_header h2 {
    font-size: 21px;
    word-spacing: 0;
    letter-spacing: 0;
  }
  .home_achievements {
    text-align: center;
  }
}
