.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-radius: 12px;
  transition: all 0.2s ease;
  font-weight: 500;
  font-size: 22px;
  margin-top: 17px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.activated {
  background-color: var(--dark-green);
}
.nav_left,
.nav_right {
  display: flex;
  align-items: center;
}
.nav_left a:not(:first-child):not(:last-child) {
  margin: 0 20px;
  cursor: pointer;
}
.nav_left a:first-child {
  margin: 0 20px 0 0;
  cursor: pointer;
}
.nav_left a:last-child {
  margin: 0 0 0 20px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .nav_left a:not(:first-child) {
    display: none;
  }
}
@media (min-width: var(--tablet-breakpoint)) {
}
