.plan {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border-radius: 12px;
    width: 300px;
    margin: 0 15px;
    padding: 25px 15px 20px 15px;
    background-color: white;
}

.plan_header h2{
    font-size: 37px;
    margin: 0;
    font-weight: 600;
}
.plan_header p {
    font-size: 22px;
    margin-top: 1px;
    color: var(--opaque-black);
    letter-spacing: 0.3px;
    word-spacing: 0.3px;
}
.plan_price h2{
    font-size: 60px;
    margin-bottom: 0;
}
.plan_price {
    margin-top: -10px;
    margin-bottom: 42px;
}
.plan_price p{
    font-size: 22px;
    margin-top: 0;
    color: var(--opaque-black);
    letter-spacing: 0.3px;
    word-spacing: 0.3px;
}
.plan_features h3{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 21px;
}
.plan_features ul{
    list-style: none;
    padding: 0;
    margin-top: 17px;
    margin-bottom: 47px;
}

.plan_features li{
    display: flex;
    align-items: center;
    color: var(--opaque-black);
    margin: 11px 0;
    font-size: 17px;
}

.plan_features li svg{
    width: 20.5px;
    height: 20.5px;
    margin-right: 10px;
}

.plan_features p{
    margin: 0;
}

.plan_button {
    border: 1.5px solid var(--light-green);
    border-radius: 7px;
    width: 100%;
    padding: 13px 0;
    font-size: 19px;
    font-weight: 500;
    background-color: var(--dark-green);
    color: white;
    transition: all 0.2s ease;
}


.plan_button:hover {
    background-color: var(--light-green);
}