.review {
    border: none;
    border-radius: 7px;
    background-color: var(--light-green);
    position: relative;
    max-width: 270px;
    width: 270px;
    height: 370px;
    max-height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review_container {
    height: 100%;
    width: 90%;
    margin: auto;
    text-align: center;
}
.review_user_info {
    position: relative;
    top: 30px;
}

.review_user_info h2{
 font-size: 30px;
 margin-top: 16px;
 letter-spacing: .5px;
}

.review_user_info img{
    width: 75px;
    height: 75px;
}

.review_user_comment {
    position: relative;
    bottom: -55px;
}
.review_user_comment svg{
    width: 50px;
    height: 50px;
}
.review_user_comment p{
    font-size: 18px;
    word-spacing: .5px;
    letter-spacing: .5px;
    margin-top: 5px;
    line-height: 1.3;
}