.reviews {
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}
.reviews_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.reviews_header {
    color: black;
    text-align: center;
}

.reviews_header h1 {
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 1.15;
    margin: 0;
}
.reviews_header p {
    font-size: 20px;
    font-weight: 400;
    color: var(--opaque-black);
    margin: 10px 0 0 0;
    line-height: 1.3;
    word-spacing: .5px;
    letter-spacing: .5px;
}

.reviews_reviews {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blob {
    position: absolute;
    z-index: -1;
}
.blob:nth-of-type(1) {
    top: 10px;
    left: 20px;
}
.blob:nth-of-type(2) {
    bottom: 0px;
    right: 50px;
}