.about {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}
.about_header {
    width: 450px;
}
.about_header h1 {
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: .6px;
    word-spacing: 3px;
    line-height: 1.15;
}
.about_header h1 span {
    color: var(--light-green);
}

.about_header p {
    font-size: 20px;
    color: var(--opaque-black);
    margin: 22px 0 27px 0;
    line-height: 1.3;
    word-spacing: .5px;
    letter-spacing: .5px;
}

.about_header button {
    font-size: 20px;
    padding: 15px 0;
    width: 50%;
    background-color: var(--dark-green);
    color: white;
    font-weight: 500;
}

.about_header button:hover {
    background-color: var(--light-green);
}

.about_features {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        grid-column-gap: 30px;
        grid-row-gap: 35px; 
}